{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Sprout Babies{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo"><img class="logo-image" src="{% static 'img/sprout_babies_logo_400.png' %}" alt=""></a>
            <div class="cart">
                {% with total_items=cart|length %}
                    {% if total_items > 0 %}
                        <a href="{% url 'cart:cart_detail' %}">
                            <i class="fa fa-shopping-cart fa-3x"></i>
                            <span class="cart-total-items">{{ total_items }}</span>
                        </a>
                    {% else %}
                        <i class="fa fa-shopping-cart fa-3x cart-empty"></i>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            <script>
                function onCategorySelect() {
                    var url = document.getElementById('category-dd').value;
                    if (url === 'default') return;
                    window.location.href = url;
                }
            </script>
            <div class="category-dd-container" onchange="onCategorySelect()">
                <select name="categories" id="category-dd">
                    <option value="default">Shop by category</option>
                    <option value="/products">All Products</option>
                    {% for c in categories %}
                        <option value="{{ c.get_absolute_url }}">
                            {{ c.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
